backports.ssl-match-hostname==3.4.0.2
boto==2.38.0
certifi==2015.4.28
click==4.0
Django==1.8.2
django-common-helpers==0.7.0
django-extensions==1.5.5
django-suit==0.2.13
docutils==0.12
filechunkio==1.6
Jinja2==2.7.3
livereload==2.4.0
Markdown==2.6.2
MarkupSafe==0.23
mkdocs==0.14.0
mock==1.0.1
pytz==2015.4
PyYAML==3.11
six==1.9.0
tornado==4.2
